html {
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

body {
    background-image: url('../img/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.player {
    position: absolute;
    bottom: 126px; 
    margin-left: 30px;
}

.block{
    position: absolute;
    bottom: 126px;
    right: 0;
}

.score {
    font-size: 50px;
    padding-top: 40px;
    padding-left: 30px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(223, 157, 211);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.popup_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: #fff;
    color: #000;
    width: 700px;
    height: 350px;
    padding: 30px;
    border-radius: 30px;
}

.popup_title {
    text-transform: uppercase;
    font-size: 50px;
    color: crimson;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.popup_score {
    margin-top: 40px;
    text-align: center;
}
.text{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.popup .score {
    padding-left: 0;
    padding-top: 10px;
}

.popup_return{
    margin-top: 60px;
    text-align: center;
}

.return-bot {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(33, 148, 148);
    color: #fff;
    padding: 15px 40px;
    border-radius: 30px;
    transition: background-color .3s ease;
}

.return-bot:hover {
    background-color: rgb(30, 90, 90);
}

.jump {
    animation-name: bounce;
    animation-duration: .35s;
    animation-timing-function: cubic-bezier(.54,.93,.64,.99);
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes bounce {
    0% {
      bottom: 126px;
    }
    100% {
      bottom: 246px;
    }
}

